html {
    font-family: "Helvetica Neue";
    text-align: left;
}

#banner {
    background-color: #122931;
}

@media screen and (max-width: 800px) {
    #banner {
        display: none;
    }
}

.carousel img {
    opacity: 0.9;
}

.dropdown-menu > li > p {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

li > p > span > a {
    color: #7F7777;
}

.dropdown-menu > li > p > span {
    color: #337ab7;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

.navbar-nav.navbar-center {
    text-align: center;
}

.to-top {
    position: relative;
    bottom: -50px;
    display: none;
}

.control.-up {
    transform: rotate(90deg);
    fill: #3688A0;
    width: 40px;
    height: 40px;
    border: 2px solid #41b9e6;
    margin-right: 10px;
    padding: 0 5px;
    bottom: 20px;
    right: 10px;
    position: fixed;
    opacity: 0.7;
}

#footer {
    border-top: 5px solid #CDB380;
    background: #033649 none repeat scroll 0% 0%;
    padding-top: 30px;
    margin-top: 60px;
    clear: both;
    color: #AAA;
    display: block;
}

#contactRow {
    padding-top: 10px;
}

#footer .widgettitle {
    margin: 0px;
    padding: 0px 0px 15px;
    border-bottom: medium none;
}

#footer h4 {
    color: #FFF;
}

#footer ul {
    list-style: outside none none;
}

#footer li {
    padding: 7px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin: 0px;
}

#footer li a {
    color: #DDD;
}

#sub-floor {
    color: #AAA;
    background: #031634 none repeat scroll 0% 0%;
    padding: 10px 0px;
}

.thumbnail {
    margin-bottom: 6px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    margin-top: 10%;
    width: 5%;
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail-gallery {
    padding: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.span-galeria {
    cursor: pointer;
}

a.a-instituicoes:link, a.a-instituicoes:hover, a.a-instituicoes:visited {
    text-decoration: none;
    color: #333;
}

@media screen and (max-width: 992px) {
    #slider-thumbs {
        display: none;
    }
}

.sobre p {
    font-size: 20px;
    padding: 20px;
    text-indent: 25px;
    text-align: justify;
    letter-spacing: 1px;
}

.profile-card {
    background-color: #122931;
    margin-bottom: 20px;

}

.profile-pic {
    border-radius: 50%;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    max-width: 100px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.profile-info {
    color: #BDBDBD;
    padding: 25px;
    position: relative;
    margin-top: 15px;
}

.profile-info h2 {
    color: #E8E8E8;
    letter-spacing: 4px;
    padding-bottom: 12px;
}

.profile-info span {
    display: block;
    font-size: 12px;
    color: #4CB493;
    letter-spacing: 2px;
}

.profile-info a {
    color: #4CB493;
}

.profile-info i {
    padding: 15px 35px 0px 35px;
}

.profile-card:hover .profile-pic {

    transform: scale(1.1);
}

.profile-card:hover .profile-info hr {
    opacity: 1;
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 52%;
    right: 52%;
    bottom: 0;
    background: #FFFFFF;
    border-radius: 50%;
    height: 3px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.profile-card:hover .hvr-underline-from-center:before, .profile-card:focus .hvr-underline-from-center:before, .profile-card:active .hvr-underline-from-center:before {
    left: 0;
    right: 0;
    height: 1px;
    background: #CECECE;
}


.card-img-top {
  float: left;
  margin-right: 10px;
}

.jumbotron{

  padding-top: 20px;
  padding-bottom: 20px;
}

.depoindex{

    font-size: 24px;

}

.depo {

    font-size: 20px;
    text-align: justify;

}