html{
  font-family: "Helvetica Neue";
}

#banner{
  background-color: #122931;
}

@media screen and (max-width: 800px) {
  #banner{
    display: none;
  }
}

.dropdown-menu > li > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

li > p > span > a{
  color: #7F7777;
}

.dropdown-menu > li >  p > span {
  color: #337ab7;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
.navbar-nav.navbar-center {
 text-align: center;
}

.to-top {
  position:relative;
  bottom:-50px;
  display:none;
}

.control.-up {
  transform: rotate(90deg);
  fill: #3688A0;
  width: 40px;
  height: 40px;
  border: 2px solid #41b9e6;
  margin-right: 10px;
  padding: 0 5px;
  bottom: 20px;
  right: 10px;
  position: fixed;
  opacity: 0.7;
}

#footer {
  border-top: 5px solid #CDB380;
  background: #033649 none repeat scroll 0% 0%;
  padding-top: 30px;
  margin-top: 60px;
  clear: both;
  color: #AAA;
  display: block;
}

#contactRow{
  padding-top: 10px;
}

#footer .widgettitle {
  margin: 0px;
  padding: 0px 0px 15px;
  border-bottom: medium none;
}

#footer h4 {
  color: #FFF;
}

#footer ul {
  list-style: outside none none;
}

#footer li {
  padding: 7px 0px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  margin: 0px;
}

#footer li a {
  color: #DDD;
}

#sub-floor {
  color: #AAA;
  background: #031634 none repeat scroll 0% 0%;
  padding: 10px 0px;
}


.thumbnail {

  margin-bottom:6px;
}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}



